.panel {
	.panel-body {
		&.panel-no-padding {
			padding: 0;
		}
		&.no-padding {
			padding: 0;
		}
	}
	.panel-heading {
		color: #607d8b;
		background-color: #fafafa;
		border-bottom: 1px solid #e0e0e0;
	}
}
.iep-sidebar {
	border-right: 1px solid #eeeeee;
	.iep-options {
		padding: 10px;
		border-top: 1px solid #eeeeee;
	}
}
.scroll-pane {
	position: relative;
	overflow: hidden;
	> .scroll-content {
		position: absolute;
		overflow: scroll;
		overflow-x: hidden;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
	}
}
.no-padding {
	padding-right: 0;
	padding-left: 0;
}
.iep {
	min-height: 200px;
	overflow-x: hidden;
	overflow-y: scroll;
  .iep-table {
    tr.error {
      td {
        background-color: #f2dede;
      }
      .form-error {
        color: #a94442;
      }
    }
  }
}
.row.no-gutter {
	margin-left: 0;
	margin-right: 0;
}
.iep-container .iep-list {
	min-height: 145px;
	padding-left: 0;
	list-style: none;
	margin-bottom: 0;
	overflow-y: auto;
	.iep-snippet {
		background: #fafafa;
		border-bottom: 1px solid #eeeeee;
		padding: 10px;
		cursor: pointer;
		&.active,&:hover {
			background: #f5f5f5;
		}
		.iep-title {
			margin: 0;
			font-weight: 400;
			font-size: 13px !important;
      a {
        text-decoration: none;
        border-bottom: 1px dashed;
        &:hover {
          text-decoration: none;
        }
      }
		}
		.iep-desc {
			margin: 0;
		}
		.iep-date {
			margin: 0;
			color: #90a4ae;
			font-size: 11px;
		}
	}
}
